<link href="https://fonts.googleapis.com/css2?family=Ranchers&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="results.css">
<section>
<vedio src="smoke.mp4"></video>
<h1>
<span>H</span>
<span>a</span>
<span>p</span>
<span>p</span>
<span>y</span>
 <span>P</span>
 <span>l</span>
 <span>a</span>
 <span>y</span>
 <span>i</span>
 <span>n</span>
 <span>g</span>
 <span>!</span></h1>
 <form action="/" method="GET">
<button type="submit" class="btn btn-info">Search Again!</button>
</form>


<% data["Search"].forEach(function(movie){ %>
	<ul>
	<li><%= movie["Title"] %></li>
	<ul>
	<li><b>Year</b> - <%= movie["Year"] %></li>
	<li><b>IMDB ID -</b> <%= movie["imdbID"] %></li>
	</ul>
	</ul>
<%})%>